<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kz.virtex.htc.tweaker"
    android:versionCode="38"
    android:versionName="3.2.9" >

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.permission.APP_PLATFORM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.6*" />
        <meta-data
            android:name="xposeddescription"
            android:value="Tweaks collection for HTC One" />

        <uses-library android:name="com.htc.fusion.fx" />

        <activity
            android:name="kz.virtex.htc.tweaker.Main"
            android:enabled="true"
            android:excludeFromRecents="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="kz.virtex.htc.tweaker.Settings"
            android:icon="@drawable/ic_launcher_bw"
            android:label="@string/app_name"
            android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.htc.settings.category.PLUGIN_ENTRY" />
            </intent-filter>

            <meta-data
                android:name="plugAnchorItem"
                android:value="personalize" />
            <meta-data
                android:name="plugAnchorShift"
                android:value="-1.0" />
            <meta-data
                android:name="plugLaunchType"
                android:value="activity" />

        </activity>
        <activity
            android:name="kz.virtex.htc.tweaker.AboutActivity"
            android:label="@string/app_about"
            android:theme="@style/Theme"
            android:excludeFromRecents="true" />
        <activity
            android:name="kz.virtex.htc.tweaker.ReplyDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="tweaker.intent.action.REPLY_MESSAGE" />
            </intent-filter>
        </activity>

        <service
            android:name="TweakerService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="tweaker.intent.action.CLEANUP_RECORDS" />
                <action android:name="tweaker.intent.action.DELETE_MESSAGE" />
                <action android:name="tweaker.intent.action.CALL_TO_CONTACT" />
            </intent-filter>
        </service>

        <receiver
            android:name="BootReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="ShutdownReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="9999" >
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="TweakerBroadcastReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="tweaker.intent.action.DELETE_MESSAGE" />
                <action android:name="tweaker.intent.action.CALL_TO_CONTACT" />
                <action android:name="tweaker.intent.action.MARK_THREAD_READ" />
                <action android:name="tweaker.intent.action.REPLY_MESSAGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>